@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@600&family=Cairo:wght@200;500;700;1000&family=Lunasima&family=Open+Sans:wght@300&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300&family=Tilt+Prism&display=swap');
* {
    font-family:'Poppins', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
:root {
    --mainColor: black;
}
/* Header Section Start */
header {
    background-color: #d9d6d698;
    width: 100%;
    position: fixed;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 200px;

}
.logo {
    text-decoration: none;
    color: var(--mainColor);
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.8em;
}
.logo:hover {
    color: #c18b1e
}
.navigation a {
    text-decoration: none;
    color: var(--mainColor);
    font-size: 1.1em;
    font-weight: 500;
    padding-left: 30px;
}
.navigation a:hover {
    color: #c18b1e;
}
/* Header Section End */

/* Main Section Start */
section {
    padding: 100px 200px;
}
.main {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    background: url(../images/my3.jpeg) no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.main h2 {
    font-size: 1.4em;
    font-weight: 500;
}
.main h2 span {
    color: var(--mainColor);
    margin-top: 10px;
    display: inline-block;
    font-size: 2em;
    font-weight: 600;
}
.main h3 {
    font-size: 1em;
    font-weight: 600;
    letter-spacing: 1px;
    margin: 10px 0px 30px;
}
.main-btn {
    color: black;
    text-decoration: none;
    background-color: #ddd;
    font-size: 1.1em;
    font-weight: 600;
    display: inline-block;
    padding: 0.9375em 2.1875em;
    letter-spacing: 1px;
    border-radius: 15px;
    margin-bottom: 40px;
    transition: 0.7s ease;
    box-shadow: 3px 6px 2px black;
}
.main-btn:hover {
    background-color: #c18b1e;
    transform: scale(1.1, 1.1);
}
.social-icons a {
    color: #fff;
    font-size: 1.7em;
    padding-right: 30px;
}
/* Main Section End */
/* Services Section Start */
.title {
    display: flex;
    justify-content: center;
    color: var(--mainColor);
    font-size: 2.2em;
    font-weight: 800;
    margin-bottom: 30px;
}
.content {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}
.card {
    background-color: #fff;
    width: 20.25em;
    box-shadow: 0 5px 25px rgba(1 1 1 / 15%);
    border-radius: 10px;
    padding: 25px;
    margin: 15px;
    transition:  0.7s ease;
}
.card a {
    color: #9e7117;
}
.card:hover {
    transform: scale(1.1, 1.1);
}
.icon {
    color: #fab327;
    font-size: 8em;
    text-align: center;
}
.info h3 {
    color: #fab327;
    font-size: 700;
    margin: 10px;

}
.info h4 {
    color: #fab327;
}
.info {
    text-align: center;
}
/* Services Section End */

/*  Projects Section Start */
.projects {
    background-color: #fab327;
}
.projects .content {
    margin-top: 30px;
}
.project-card {
    background-color: #fff;
    border: 1px solid #fff;
    min-height: 14em;
    width: 18em;
    overflow: hidden;
    border-radius: 10px;
    margin: 20px;
    transition: 0.7s ease;
}
.project-card:hover {
    transform: scale(1.1);
}
.project-image img {
    width: 100%;
}
.project-card:hover .project-image{
    opacity: 0.9;
}
.project-info {
    padding: 1em;
    
}
.project-category {
    font-size: 0.8em;
    color: #000;
}
.project-title {
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    font-weight: 800;
    margin-top: 10px;
}
.more-details {
    text-decoration: none;
    color: #fab327;
}
.more-details:hover {
    color: #c18b1e;
}

/*  Projects Section End */
/* Contact Section Start */
.contact .icon {
    font-size: 4.5em;
}
.contact .info h3 {
    color: #000;
}
.contact .info p {
    font-size: 1.2em;
}
/* Contact Section End */
/* Footer Section Start */
.footer {
    background-color: #000016;
    color: #fff;
    padding: 2em;
    display: flex;
    justify-content: space-between;
}
.footer-title {
    font-size: 1.3em;
    font-weight: 600;
}
.footer-title span {
    color: #fab327;
}
.footer .social-icons a {
    color: #fff;
    font-size: 1.3em;
    padding: 0 12px 0 0;
}
/* Footer Section End */
@media (max-width: 1023px){
    header {
        padding: 12px 20px;
    }
    .navigation a {
        padding-left: 10px;
    }
    .title {
        font-size: 1.8em;
    }
    section {
        padding: 80px 20px;
    }
    .main-content h2 {
        font-size: 1em;
    }
    .main-content h3 {
        font-size: 1.6em;
    }
    .content {
        flex-direction: column;
        align-items: center;
    }
}
@media (max-width: 641px){
    body {
        font-size: 12px;
    }
    .main {
        /* background-size:  90% 50%; */
        background-color: #ffbe3d !important;
        background-image: url(s) !important;
    }
    .main-content h2 {
        font-size: 0.8em;
    }
    .main-content h3 {
        font-size: 1.4em;
    }
    .ph-me {
        width: 90vw;
        border-radius: 10px;
       
        /* transform-origin: bottom right; */
    }
    
    .main-pho {
        /* background-color: #9e7117; */
        background-image: url(../images/my3.jpeg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        border-radius: 10px;
        overflow: hidden;
        position: relative;
        width: 90vw;
        height: 30vh;
        animation-name: photo;
        animation-duration: 3s;
        animation-iteration-count: infinite;
        animation-direction: alternate-reverse;
        animation-timing-function: ease;
    }
    
    .main-parent {
        background-color: #9e7117;
        border-radius: 10px;
        overflow: hidden;
    }
    
}
@media (max-width: 300px){
    body{
        font-size: 10px;
    }
}


@keyframes photo {
    0% {
        transform: rotate(0deg);

    }

    50% {
        transform: rotatex(-50deg);
    }
    75% {
        transform: translate(-50%);
    }

    100% {
        transform: rotatey(10deg);
    }
}






.new {
    padding: 70px;
}



.box
{
    padding: 20px;
    /* width: 90vw; */
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    /* backdrop-filter: blur(50px); */
    border-radius: 5px;
}
.box .form
{
    padding: 0px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.box .form h2
{
    text-align: center;
    color: #000000;
}
.box .form form
{
    margin-top: 50px;
    align-items: center;
    background-color: #ff9c1c;
    padding: 10%;
    border-radius: 10px;
    width: 20.25em;

}
.box .form form .inputbox input
{
    padding: 10px 20px;
    border: none;
    outline-style: none;
    background: none;
    border-bottom: 1px solid #12151e;
    margin-bottom: 30px;
    color: #fff;
    width: 100%;
}
.box .form form .inputbox span
{
    position: absolute;
    transform: translateY(-80px);
    font-size: 14px;
    color: black;
}
.box .form form .sub
{
    padding: 10px 20px;
    color: black;
    border: none;
    outline: none;
    background: #c48812;
    border-radius: 10px;
    box-shadow: 2px 2px 2px black ;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
}
span {
    display: block;
}

input {
    background-color: transparent !important;
    height: 40px;
    margin: 1%;
}

.inputbox span {
    /* color: white !important; */
} 

.form form .sub {
    background-color: #ddd !important;
}

